<%- include('../partials/header.ejs'); %>

    <div class="manageUser-container">
      <div id="title">
        <h2>Manage Users</h2>
      </div>

      <div class="new-message-container new-user">
        <a href="#" onclick="openModal()">+</a>
      </div>

      <div id="users-table">
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Manage</th>
            </tr>
          </thead>
          <tbody id="users-table">
            <% users.forEach(function(user){%>
            <tr id="<%= user._id %>">
              <td class="name">
                <% if(user.avatar){ %>
                <img src="./uploads/avatar/<%= user.avatar %>" />
                <% }else { %>
                  <img src="./images/nophoto.png" />
                <% }%>
                <span><%= user.name %></span>
              </td>
              <td><%= user.email %></td>
              <td class="manage">
                <img src="./images/trash.png" alt="Delete" onclick="deleteUser('<%= user._id %>')" />
              </td>
            </tr>
            <%  });  %>
          </tbody>
        </table>
      </div>
    </div>

    <%- include('./partials/add-user-model.ejs'); %>
<script>
  const deleteToast = (msg) => { 
                                  return Toastify({
                                      text:msg,
                                      duration:1000,
                                  });
                                }
  const deleteErrorToast = (msg) => { 
                                  return Toastify({
                                      text:msg,
                                      duration:1000,
                                  });
                                }
  async function deleteUser(userID){
    const response = await fetch("/users/"+userID,{
      method:"DELETE"
    })
    const result = response.json();
    if(result.errors){
      deleteErrorToast(result.errors['common'].msg).showToast();
    }else{
      deleteToast(result.message).showToast();
      setTimeout(()=>{
        document.getElementById(userID).remove();
      },1000);
    }
    
  }
</script>

<%- include('../partials/footer.ejs'); %>
